body {
    margin:0;
    padding:0;
    border:0;
    display:flex;
}

.hidden{
    display: none;
}

.panel {
    width:30%;
    height:100vh;
    background-color: grey;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.lists-add-btn{
    margin-bottom:10%;
    font-size:200%;
}
.panel-btn {
    font-size:200%;
}

.lists{
    display:flex;
    flex-direction: column;
    align-items: center;;
}

.content {
    width:100%;
    padding:10% 5% 10%;

}

th {
    text-align:left;
}

tr {
    height:3rem;
}

.todo-h{
    width:15%;
}
.desc-h{
    width:65%;
}
.completed-h{
    width:20%;
}

table {
   width:100%;
}

.input-table{
    height:4rem;
    display:flex;
    align-items:center;
    justify-content: space-around;
}

.modal-window {
    position:absolute;
    width: 50%;
    height:55%;
    background-color: brown;
    border-style:solid;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.overlay{
    background-color: black;
    position:absolute;
    width:100%;
    height:100%;
    opacity: 0.25;
}

.modal{
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;;

}
.close-modal{
    position:absolute;
    width:5%;
    left:95%;
}
